*{
    margin-top: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Montserrat ;
    src: url(./FONTS/Montserrat-Regular.ttf);
}
.label{
    display: block;
}
.costs{
    display: flex;
    justify-content: space-between;
}


.right{
    padding: 10px 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    width: 40%;
    height: 25%;
}
.main{
    display: flex;
    justify-content: space-around;

}

.quantity{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}

.first-foto,
.second-foto{
    display: flex
}

div > img{
    margin: 5px;
    border-radius: 25%;
    width: 25%;
}
.head{
   text-align: center;
   margin: 15px 0px;
}
.checkout{
    font-family: Montserrat, sans-serif;
    font-size: 2em;
}
.left-div--header{
    margin: 15px 0px;
    font-family: Montserrat, sans-serif;

}
.label{
    font-size: 12px;
    margin: 10px 0px;
    font-family: Montserrat, sans-serif;
    color: #4F4F4F;
}

.input-box{
    margin: 10px 0px;
    font-size: 16px;
    /* position: relative; */
    border: 1px solid #828282;
    border-radius: 5px;
    color: #828282;
    display: flex;
    align-items: baseline;
}
.input-box--checkbox{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #4F4F4F;
    margin-top: 2em;
}

.fas{
    margin-left: 5px;
}
#phone,
#email,
#name,
#address,
#city,
#pcode,
#dropdown
{
    border: none;
    padding: 8px 35px 8px 5px;
    outline: none;
    font-family: Montserrat, sans-serif;
    color: #4F4F4F;
  
}
.first-div--left{
    margin-bottom: 3em;
}
.second-span{
    text-decoration: line-through;
    font-size: 0.8em;
    font-family: Montserrat, sans-serif;
}
.first-span{
    font-size: 1em;
    color:#f2994a ;
    font-family: Montserrat, sans-serif;
}

.product{
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #4e5150;
    margin: 5px 0;
}
.preis{
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #4e5150;
    margin-top: 20%;
}
.inline-div{
    display: flex;
    justify-content:space-around
    align-items: center;
}
#form-button{
    border-radius: 10px;
    background-color: #f2994a;
    color: #fff;
    text-align: center;
    width: 7%;
    padding: 14px 0;
    border: none;
    cursor: pointer;
    
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
